  <div class="list card" ng-controller="nextStepsController">
    <div class="item item-icon-right item-heading" ng-click="toggle()" >
      <span translate>Next steps</span>
      <i class="icon bp-arrow-up" ng-show="!hide"></i>
      <i class="icon bp-arrow-down" ng-show="hide"></i>
    </div>
    <div ng-show="!hide">
      <a class="item item-icon-right" title="ShapeShift" ng-click="openExternalLink('https://www.shapeshift.io')">
        <img src="img/app/shapeshift.png" alt="" style="height:35px;">
        <i class="icon bp-arrow-right"></i>
      </a>
      <a class="item item-icon-right" title="Changelly" ng-click="openExternalLink('https://changelly.com')">
        <img src="img/app/changelly_logo.png" alt="" style="height:35px;">
        <i class="icon bp-arrow-right"></i>
      </a>
      <a class="item item-icon-right " title="Bittrex" ng-click="openExternalLink('https://bittrex.com/Market/Index?MarketName=BTC-DCR')">
        <img src="img/app/bittrex-logo-transparent.png" alt="" style="height:35px;">
        <i class="icon bp-arrow-right"></i>
      </a>
      <a class="item item-icon-right " title="Poloniex" ng-click="openExternalLink('https://poloniex.com/exchange#btc_dcr')">
        <img src="img/app/Poloniex-logo-800px.png" alt="" style="height:35px;">
        <i class="icon bp-arrow-right"></i>
      </a>
      <a class="item item-icon-right " title="Bleutrade" ng-click="openExternalLink('https://bleutrade.com/exchange/DCR/BTC')">
        <img src="img/app/bleutrade_logo.png" alt="" style="height:35px;">
        <i class="icon bp-arrow-right"></i>
      </a>
    </div>
  </div>
