
html {
  body {
    font-family: "Source Sans Pro";
  }

  body {
    .wallet-balance__amount, .amount__balance {
      font-family:'Inconsolata' !important;
    }
    .amount-label {
      > .amount, > .unit  {
        font-family:'Inconsolata' !important;
      }
    }

    .pane, .view {
      background-color: #f3f6f6;
    }

    .tab-nav.tabs {
      background-color: #0c1e3e;

      .tab-item {
        color: #ffffff;
      }
      .tab-item:hover, .tab-item-active {
        background: #09182d;
      }
    }
    .bar-header {
      .back-button, .back-button .icon:before  {
          color: #c4cbd2 !important;
      }
    }
  }
}
